.mode {
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 0.2rem;
}

.mode-toggler {
    background-color: var(--title-color);
    width: 2rem;
    height: 1rem;
    border: 1px solid var(--title-color);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.05rem;
    cursor: pointer;
    transition: 0.5s;
}
.dark-mode .mode-toggler {
    background-color: var(--body-color);
}

.mode-toggler-circle {
    position: relative;
    width: 0.8rem;
    height: 0.8rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--body-color);
    transform: translateX(-60%);
    transition: 0.5s;
}

.dark-mode .mode-toggler-circle {
    background-color: var(--title-color);
    transform: translateX(60%);
}

.mode-light-icon {
    color: var(--title-color);
}

.mode-dark-icon {
    font-size: 0.8rem;
    padding-bottom: 0.1rem;
    color: var(--title-color);
}
