$mobile-width: 320px;
$tablet-width: 640px;
$desktop-width: 1200px;
$border-radius: 8px;
$color-background: #fafbfc;
$color-accent: rgba(91, 31, 255, 0.75);
$color-primary: #0f0f11;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-element: #e2e6e9;
$color-hoverBG: #fafbfc;
$color-white: #fff;
// $color-green: rgba(0, 169, 145, 1);
$color-green: rgb(13 148 136);
// $color-green: rgb(74, 152, 230);
$color-middle-green: rgba(0, 169, 145, 0.4);
// $color-middle-green: rgb(74, 152, 230);
$color-light-green: rgba(0, 169, 145, 0.15);
// $color-red: rgba(255, 89, 97, 1);
$color-red: rgba(190 24 93);
$color-secondary-dark: #75767f;
$color-icons-dark: #4a4d58;
$color-element-dark: #3b3e4a;
$color-surface-1-dark: #161827;
$color-surface-2-dark: #323542;
$color-black-dark: #0f1121;
$color-white-dark: #f1f2f9;
$duration: 0.3s;

$account-background: rgba(242, 242, 247);
$card-background: rgba(250, 250, 250, 0.1);
$shadow3: 0 0 5px rgba(0, 0, 0, 0.1);

$big-br: 1rem;
$standard-br: 0.5rem;

$gray-color-1: rgba(96, 96, 96, 1);
$gray-color-2: rgba(108, 108, 112, 1);
$gray-color-3: rgba(142, 142, 147, 1);
$gray-color-4: rgba(163, 173, 178, 1);
$gray-color-5: rgba(174, 174, 178, 1);
$gray-color-6: rgba(199, 199, 204, 1);
$gray-color-7: rgba(209, 209, 214, 1);
$gray-color-8: rgba(229, 229, 234, 1);
$gray-color-9: rgba(245, 242, 247, 1);
$gray-color-10: rgba(242, 242, 247, 1);
