.skills__container {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.8rem;
  justify-content: center;
}

.skills__content {
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  padding: 2rem;
  border-radius: 1.25rem;
}

.skills__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.skills__box {
  display: flex;
  justify-content: space-around;
  column-gap: 2.5rem;
}

.skills__group {
  display: grid;
  align-items: start;
  row-gap: 1rem;
}

.skills__data {
  display: flex;
  column-gap: 0.5rem;
}

.skills .bx-badge-check {
  font-size: 1rem;
  color: var(--title-color);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}

.skills__level {
  font-size: var(--tiny-font-size);
}

.skills__icon {
  min-width: 1rem;
}

/* ----------Breakpoints---------- */
/* Standard */
@media screen and (max-width: 768px) {
  .skills__box {
    column-gap: 1rem;
  }
}

/* Medium */
@media screen and (max-width: 600px) {
  .skills__container {
    grid-template-columns: 1fr;
  }

  .skills__content {
    padding: 1.5rem;
  }
}

/* Small */
@media screen and (max-width: 350px) {
  .skills__box {
    column-gap: 1.25rem;
  }

  .skills__name {
    font-size: var(--small-font-size);
  }
}
